@charset "UTF-8";
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  width: 100vw;
}

/*navBar****************************************************************************************************/
.nabBar_container {
  background: rgba(217, 217, 217, 0.5);
}

.nav_bar_color {
  background: rgb(217, 217, 217);
}

/*logo icon part --  arranged  */
.logo_icon img:nth-child(2) {
  position: relative;
  bottom: 15px;
  background: #4482C2;
}

.logo_icon img:last-child {
  position: relative;
  bottom: 26px;
  background: #4482C2;
}

/*company name*/
.logo_companyname {
  font-weight: 460;
  height: 33.26px;
  font-size: 33.36px;
  color: #282828;
  position: relative;
  bottom: 10px;
}

/*navitems*/
.products {
  /*products item-1*/
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  color: #282828;
}

.plans {
  /* plans item-2*/
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  color: #282828;
}

.more {
  width: 41px;
  height: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  color: #282828;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

/*dropdown with menu button*/
.dropdown {
  /* ic:round-arrow-drop-down*/
  padding-left: 2px;
}

/*togglebutton -> menu+icon & togglecontent -> div with other value */
.togglecontent {
  display: none;
}

.toggleButton:hover .togglecontent {
  display: block;
}

.login {
  /* Login */
  width: 43px;
  height: 24px;
  font-weight: 500;
  line-height: 24px;
  /* identical to box height */
  color: #000000;
}

.nav_button_registor {
  /* Rectangle 36 */
  width: 196px;
  height: 50px;
  background: #2A0896;
  border-radius: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

/*seaction 1 *********************************************************************************************************/
.heading_section1 {
  /* medical software to attract and retain patients */
  width: 995px;
  height: 204px;
  font-weight: 500;
  font-size: 90px;
  line-height: 92px;
  text-align: center;
  text-transform: capitalize;
  color: #282828;
}

.subheading_section1 {
  /* Patientgrid’s communication platform helps improve patient experience while staff hours. */
  width: 602px;
  height: 64px;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  text-align: center;
  color: rgba(40, 40, 40, 0.7);
}

.button_seaction1 {
  /* Start For Free */
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  color: #000000;
  display: flex;
}

.button_seaction1_icon {
  position: relative;
}

/*change it
*/
.button_seaction1_icon img:nth-child(2) {
  position: absolute;
  left: 0%;
  right: 2%;
  top: 16.4%;
  bottom: 0%;
}

.vector_icon {
  position: absolute;
  left: 50%;
  right: 2%;
  top: 30%;
  bottom: 0%;
  background: rgba(42, 8, 150, 0.28);
}

.home {
  position: absolute;
  width: 1130px;
  height: 562px;
  left: 155px;
  top: 591px;
  background: #FFFFFF;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 29px;
}

/*section 2************************************************************************************************/
/*main content on inbox*/
.order {
  /* order: */
  width: 43px;
  height: 26px;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-transform: capitalize;
  color: #000000;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.filter {
  /* filter: */
  width: 36px;
  height: 26px;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-transform: capitalize;
  color: #000000;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.option1 {
  background: #C5C2C2;
  text-transform: capitalize;
  color: #4C4848;
}

.option {
  background: #2397F3;
  text-transform: capitalize;
  color: #FFFFFF;
}

/*table in seaction 2 */
.inbox_table_th {
  width: 115px;
  height: 26px;
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
  /* identical to box height, or 186% */
  text-transform: capitalize;
  color: #8E8787;
}

.phone_notifications {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 16px;
  gap: 8px;
  width: 64px;
  height: 37px;
  background: #2397F3;
  border-radius: 40px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.mobile_number {
  /* (305) 440-0858 */
  width: 115px;
  height: 26px;
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
  /* identical to box height, or 186% */
  text-transform: capitalize;
  color: #8E8787;
  /* Inside auto layout */
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.hours {
  width: 115px;
  height: 26px;
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
  /* identical to box height, or 186% */
  text-transform: capitalize;
  color: #8E8787;
}

.inbox {
  width: 115px;
  height: 26px;
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
  /* identical to box height, or 186% */
  text-transform: capitalize;
  color: #8E8787;
}

.seaction2_subheading {
  width: 115px;
  height: 26px;
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
  /* identical to box height, or 186% */
  text-transform: capitalize;
  color: #8E8787;
  /* amanda charles */
}

.dropdown_under_seaction2_subheading {
  width: 207px;
  height: 15px;
  background: #D9D9D9;
  border-radius: 10px;
  padding: 0px 5px;
}

.sidebar_item {
  width: 164px;
  height: 15px;
  background: #D9D9D9;
  border-radius: 10px;
}

.inbox_div_place_adjust {
  position: relative;
  left: 30px;
  bottom: 50px;
}

/*seaction 3rd************************************************************************************************/
.heading_seaction3 {
  /* Bring new business in by getting more online reviews. */
  font-weight: 500;
  font-size: 32px;
  line-height: 45px;
  color: #282828;
  font-style: normal;
}

.sub_heading_section3 {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  /* or 136% */
  color: rgba(0, 0, 0, 0.7);
}

.empty_shadow_div {
  width: 406px;
  height: 288px;
  position: absolute;
  left: 100px;
  top: 100px;
  z-index: 0;
  background: rgba(157, 134, 209, 0.15);
  box-shadow: -30px 30px 30px rgba(40, 40, 40, 0.05);
  border-radius: 30px;
  right: "";
}

.left_part {
  width: 406px;
  height: 288px;
  z-index: 10;
  background: rgba(255, 255, 255, 0.54);
  box-shadow: -30px 30px 30px rgba(40, 40, 40, 0.05);
  border-radius: 30px;
}

.section3_sub_container {
  position: relative;
}

/*seaction 5*************************************************************************/
.empty_shadow_div2 {
  width: 406px;
  height: 288px;
  position: absolute;
  left: "";
  top: 100px;
  z-index: 0;
  background: rgba(157, 134, 209, 0.15);
  box-shadow: -30px 30px 30px rgba(40, 40, 40, 0.05);
  border-radius: 30px;
  right: 160px;
}

.starbox {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 5px;
  width: 295px;
  height: 55px;
  background: #EFEFEF;
  box-shadow: -10px 10px 30px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.divider {
  width: 336px;
  height: 11px;
  background: #D9D9D9;
  border-radius: 10px;
}

.seaction3_profile_name {
  /* Dr.James L. */
  width: 116px;
  height: 32px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  /* identical to box height, or 160% */
  text-align: center;
  text-transform: capitalize;
  color: #000000;
  /* Inside auto layout */
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.seaction3_profile_detail {
  /* psychologist, canada */
  width: 152px;
  height: 32px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
  /* identical to box height, or 229% */
  text-align: center;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.7);
  /* Inside auto layout */
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

/*seaction 4 *******************************************************************************************************/
.seaction4_heading {
  font-weight: 500;
  font-size: 32px;
  line-height: 45px;
  color: #282828;
  font-style: normal;
}

.seaction4_subheading {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  /* or 136% */
  color: rgba(0, 0, 0, 0.7);
}

.section4_image_part_first_div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 5px;
  width: 295px;
  height: 55px;
  background: #EFEFEF;
  box-shadow: -10px 10px 30px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  display: flex;
}

.right_container_s4 {
  padding: 10px;
}

.seaction4_lines_part_1 {
  width: 291px;
  height: 65px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-around;
}
.seaction4_lines_part_1 .first {
  width: 63px;
  height: 0px;
  border: 3px solid #3A0CA3;
  position: absolute;
  top: 1px;
}
.seaction4_lines_part_1 .first .second {
  width: 175px;
  height: 0px;
  border: 3px solid rgba(58, 12, 163, 0.3);
}
.seaction4_lines_part_1 .third {
  width: 164px;
  height: 11px;
  background: #D9D9D9;
  border-radius: 10px;
}

.section4_part2_containor {
  display: flex;
  flex-direction: column;
  width: 225px;
  height: 114px;
}

.wave {
  position: relative;
  bottom: 10px;
  width: 225px;
}

.section4_part2 {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  width: 225px;
  height: 50px;
}
.section4_part2 :first-child {
  width: 29px;
  height: 56px;
  background: #2A0896;
  border-radius: 10px;
  align-self: flex-end;
}
.section4_part2 :nth-child(2) {
  width: 29px;
  height: 83px;
  background: #2A0896;
  border-radius: 10px;
  align-self: flex-end;
}
.section4_part2 :nth-child(3) {
  width: 29px;
  height: 83px;
  background: #2A0896;
  border-radius: 10px;
  align-self: flex-end;
}
.section4_part2 :nth-child(4) {
  width: 29px;
  height: 114px;
  background: #2A0896;
  border-radius: 10px;
  align-self: flex-end;
}
.section4_part2 :last-child {
  width: 29px;
  height: 83px;
  background: #2A0896;
  border-radius: 10px;
  align-self: flex-end;
}

.setting_image_s4_conatiner {
  position: relative;
  display: flex;
}

.setting_image_s4_first {
  position: relative;
  left: 225px;
  bottom: 100px;
}
.setting_image_s4_first :nth-child(2) {
  position: absolute;
  top: 25%;
  left: 30%;
}

.setting_image_s4_second {
  position: relative;
  left: 120px;
  bottom: 90px;
}
.setting_image_s4_second :nth-child(2) {
  position: absolute;
  top: 25%;
  left: 30%;
}

/*seaction 5*****************************************************************/
.seaction5_heading {
  font-weight: 500;
  font-size: 32px;
  line-height: 45px;
  color: #282828;
  font-style: normal;
}

.seaction5_subheading {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  /* or 136% */
  color: rgba(0, 0, 0, 0.7);
}

/*seaction 6*******************************************/
.s6_hover_mails:hover {
  height: 80px;
  position: relative;
  bottom: 10px;
  left: 30px;
  background: #FFFFFF;
  box-shadow: -7.79716px 7.79716px 23.3915px rgba(142, 135, 135, 0.6);
  border-radius: 7.79716px;
}

.s6_container {
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 30px;
  position: absolute;
  width: 1130px;
  height: 562px;
  left: 155px;
  top: 591px;
  background: #dde9ff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 29px;
}

.headings_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.seaction6_heading {
  font-weight: 500;
  font-size: 32px;
  line-height: 45px;
  color: #282828;
  font-style: normal;
}

.seaction6_subheading {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  /* or 136% */
  color: rgba(0, 0, 0, 0.7);
}

/*seaction 7 */
.s7_container {
  display: flex;
  justify-content: center;
  background: #D9DEEF;
  border-radius: 30px;
  position: relative;
}

.left_vector_s7 {
  transform: translate(-50%, -50%);
  height: 200px;
  width: 100px;
  position: absolute;
  left: 85px;
  top: 260px;
  border-radius: 30px 0 150px 0;
  background: #2A0896;
  -webkit-border-radius: 30px 0 150px 0;
  -moz-border-radius: 30px 0 150px 0;
  -ms-border-radius: 30px 0 150px 0;
  -o-border-radius: 30px 0 150px 0;
}

.left_vector_s7_2 {
  transform: translate(-50%, -50%);
  height: 200px;
  width: 100px;
  position: absolute;
  right: -13px;
  top: 260px;
  border-radius: 0px 30px 0px 150px;
  background: #2A0896;
}

.s7_heading {
  /* We work on a month-to-month basis, try for free with no commitments */
  width: 710px;
  height: 150px;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 50px;
  /* or 125% */
  text-align: center;
  color: #000000;
}

.sub_heading {
  /* Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. */
  width: 584px;
  height: 54px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}

.s7_button {
  width: 173px;
  height: 50px;
  background: #4482C2;
  border-radius: 30px;
}

/*footer************************************************************************/
.footer_container {
  color: white;
}

.footer_color {
  background: #2A0896;
  color: white;
}

.footer_input {
  background: #FFFFFF;
  border-radius: 30px;
}

.footer_button {
  background: #2A52BE;
  width: 50px;
  height: 50px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  position: relative;
  right: 4 0px;
}

/* Rectangle animateed image part */
.rectangleanimate {
  position: absolute;
  width: 1449px;
  height: 538.85px;
  left: -45px;
  top: 50% px;
  background: linear-gradient(90.51deg, #87CEFA 3.78%, #2A0896 96.65%);
  border-radius: 30px;
  transform: rotate(7.43deg);
  -webkit-transform: rotate(7.43deg);
  -moz-transform: rotate(7.43deg);
  -ms-transform: rotate(7.43deg);
  -o-transform: rotate(7.43deg);
  animation: color 3s ease-in-out infinite;
  -webkit-animation: color 5s ease-in-out infinite;
}

@keyframes color {
  0% {
    background: linear-gradient(90.51deg, #87CEFA 3.78%, #2A0896 96.65%);
  }
  40% {
    background: linear-gradient(90.51deg, #2A0896 96.65%, #87CEFA 3.78%);
  }
  60% {
    background: linear-gradient(90.51deg, #87CEFA 3.78%, #2A0896 96.65%);
  }
  80% {
    background: linear-gradient(90.51deg, #2A0896 96.65%, #87CEFA 3.78%);
  }
  100% {
    background: linear-gradient(90.51deg, #87CEFA 3.78%, #2A0896 96.65%);
  }
}
/*// use saas for make it and use like function for other same open and close stuff
*/
.inbox_content_close {
  display: none;
}

.inbox_close_button:hover .inbox_content_close {
  display: block;
}

/*section 2nd sub section of table
*/
dt {
  @apply flex justify-around;
}

dd {
  @apply flex justify-around;
}/*# sourceMappingURL=main.css.map */